<div class="container__big-card">
  <a href="#">
    <div class="big-card__photo">
      <img src="https://i.stack.imgur.com/luaq2.png"
        alt="Imagem do big card"
        height="200px"
      >
    </div>
    <div class="big-card__title">
      <h2>Saiu a nova versão do Angular!!</h2>
    </div>
    <div class="big-card__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed laoreet tellus. Maecenas lorem ligula, pulvinar a justo in, condimentum feugiat diam. Maecenas sapien turpis, consequat sit amet commodo a, pharetra fermentum tortor. Vivamus a diam id sem malesuada consequat ut sed nulla. Nam posuere nisi vel nibh tempus, non condimentum purus vestibulum. Quisque scelerisque leo nec fringilla pellentesque. Proin sed mollis purus.</p>
    </div>
  </a>
</div>
