.container__content{
  width: 100%;
  height: 100vh;
  margin-top: 20px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.content__cover > img{
  width: 500px;
  min-width: 500px;
  height: 300px;
  border: 5px solid rgb(144, 144, 144);
}

.content__description{
  margin-top: 15px;
  width: 80%;
  text-align: center;
}

.content__description > p{
  color: rgb(198, 197, 197);
}
