<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=1200&aspectRatio=1.78&format=jpeg"
      cardTitle="NOVO HOMEM DE FERRO EM 3D"
      cardDescription="Marvel anuncia novo homem de ferro"
    ></app-big-card>

    <app-big-card
      photoCover="https://i.ytimg.com/vi/oXTaxBOP4KQ/maxresdefault.jpg"
      cardTitle="NOVIDADES DO HOMEM DE FERRO 5"
      cardDescription="Marvel anuncia novo homem de ferro"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      cardTitle="Nova série anunciada no Disney+"
      photoCover="https://lumiere-a.akamaihd.net/v1/images/uk_disney-plus_marvel-article_hero_m_471b3668.jpeg?region=0,0,750,564"
    ></app-small-card>
    <app-small-card
      cardTitle="Novo filme do pantera negra anunciado"
      photoCover="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/F6482D58C8BB4D899FA4682BF27652C3E1BB73F5971E5F963994112F26A73690/scale?width=1200&aspectRatio=1.78&format=jpeg"
    ></app-small-card>
    <app-small-card
      cardTitle="Novo filme do universo Star Wars"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSph7a3YG3EgKFEplAgMacLKgvGbzY_153tmw&usqp=CAU"
    >
    </app-small-card>
  </div>
</div>
