.container__articles{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.articles__main{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.articles__others{
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
